
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: black;
    color: rgb(215, 210, 210);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 5px 5px 20px #cd3cd5;
    box-shadow: 10px 10px 40px #cd3cd5;
    
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .Elsherbiny {
    color: #cd3cd5;
}

.header ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header ul li {
    display: inline-flex;
    margin-left: 25px;
}

a {
    text-decoration: solid;
}

a:hover {
    color: #cd3cd5;
    text-decoration: double;
}

.hero {
    display: flex;
    justify-content: right;
    padding: 20px;
    height: 400px;
    width: 100%;
    margin: 25px 0px;
    background-image: url(../images/Webdeveloper\ background.jpeg);
    background-size: cover;
    opacity: 30%;
    background-position: center;
}
p {
    font-size: 16px;
}

.hero p {
    display: inline-flex;
    background: none;
    align-items: end;
    width: 25%;
    font-size: 20px;
    text-align: center;
}

.hero:hover {
    text-shadow: 5px 5px 10px #cd3cd5;
    font-weight: bold;
}
    
.aboutme-container{
    display: flex;
    margin: 20px;
    padding: 30px;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.aside {
    text-align: end;
    width: 300px;
    padding: 25px;
    border-right: 3px solid #cd3cd5;
    font-size: 30px;

}

.aboutme-para {
    width: 100%;
    padding: 25px;
    font-size: 20px;
    line-height: 25px;
}

.projects-aside-container {
    display: flex;
    margin: 20px;
    padding: 30px;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.projects-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.calc_weather-projects {
    display: flex;
}
.horiseon-project {
    width: 100%;
    display: flex;
    padding: 30px;
    flex-direction: column;
}

.horiseon-img {
    position: relative;
    width: 100%;
    height: auto;
    opacity: 40%;
    border: 3px solid #cd3cd5;
}

.horiseon-text-title{
    position: relative;
    display: inline;
    background-color: #cd3cd5;
    top: -90px;
    left: 35px;
    font-size: 15px;
}

.horiseon-text-para{
    position: relative;
    display: inline;
    background-color: #cd3cd5;
    top: -80px;
    left: -35px;
    font-size: 10px;
}
.calc_weather {
    position: relative;
    justify-content: right;
    width: 100%;
    padding: 30px;
    height: auto;
    padding: 25px;
}

.calc-img , .weather-img {
    position: relative;
    width: 100%;
    height: auto;
    opacity: 40%;
    border: 3px solid #cd3cd5;  
}
.horiseon-img:hover ,.calc-img:hover , .weather-img:hover {
    opacity: 100%;
}

.text-overlay-title {
    position: absolute;
    display: inline;
    background-color: #cd3cd5;
    bottom: 90px;
    left: 30px;
    font-size: 15px;
}

.text-overlay-para {
    position: absolute;
    display: inline;
    background-color: #cd3cd5;
    bottom: 80px;
    left: 30px;
    font-size: 10px;
    }

.footer{
    display: flex;
    margin: 20px;
    padding: 30px;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer ul {
    list-style-type: none;
    justify-content: space-between;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}

.footer li {
    display: inline-flex;
    justify-content: space-between;
    margin-right: 55px;
    text-decoration: underline;   
}

@media only screen and (max-width: 768px) {
  footer  
}
